In [ ]:

import pandas as pd
import numpy as np

weatherDf = pd.read_csv("weather_data.csv", encoding='cp949')

# 전처리 (필요없는 항목 필터링)
weatherDf = weatherDf[['지점명', "일시", '기온(°C)']]
weatherDf

In [ ]:
#전처리2-1 (필요한 카테고리 선택)
is_seoul = weatherDf["지점명"] == "서울"
seoul = weatherDf[is_seoul]
seoul

In [ ]:
#전처리2-2
is_busan = weatherDf["지점명"] == "부산"
busan = weatherDf[is_busan]
busan

In [ ]:
#전처리3  (누락된 항목 갯수 일치시키기)

# 서울
temp = []
for date in seoul["일시"]:
    temp.append(date.split(" ")[0]) # '날짜 시간'형태의 자료를 " "공백으로 잘라서 날짜만 [0]인덱스로 append
temp_seoul = []
unique_temp = set(temp) #set 자료형으로 형변환하여 중복자료 제거


for date in unique_temp:
    if temp.count(date) != 24:
        temp_seoul.append(date) # 누락된 데이터 찾기 (8월 26일)

print(temp_seoul)
timeNp = np.arange(24)
findTime = []
full_date = []
result_seoul = []
array_seoul =[]
# 8월 26일 중 누락된 시간 찾기
for date in seoul["일시"]: 
    for temp_date in temp_seoul:
        if(temp_date in date):
            findTime.append(date.split(" ")[1])

print(findTime)

# 누락된 시간만 정제
for i in range(len(temp_seoul)):
    print(temp_seoul[i])
    array_seoul.clear()
    for j in timeNp:
        full_date.append(temp_seoul[i] + " " + str(j).zfill(2)+ ":00")

    for j in range(len(findTime)):
        array_seoul.append(temp_seoul[i] + " " + findTime[j])

    for j in timeNp:
        if full_date[j] != array_seoul[j]:
            result_seoul.append(full_date[j])
            array_seoul.insert(j, full_date[j])

print(result_seoul)

In [ ]:
# 부산
temp = []
for date in busan["일시"]:
    temp.append(date.split(" ")[0])
temp_busan = []
unique_temp = set(temp)


for date in unique_temp:
    if temp.count(date) != 24:
        temp_busan.append(date)

timeNp = np.arange(24)
findTime = []
full_date = []
result_busan = []
array_busan =[]

for date in busan["일시"]: 
    for temp_date in temp_busan:
        if(temp_date in date):
            findTime.append(date.split(" ")[1])
            

# 누락된 시간만 정제
for i in range(len(temp_busan)):
    array_busan.clear()
    for j in timeNp:
        full_date.append(temp_busan[i] + " " + str(j).zfill(2)+ ":00")

    for j in range(len(findTime)):
        array_busan.append(temp_busan[i] + " " + findTime[j])

    for j in timeNp:
        if full_date[j] != array_busan[j]:
            result_busan.append(full_date[j])
            array_busan.insert(j, full_date[j])

print(result_busan)

In [266]:
full_date = list(set(result_seoul + result_busan))

for date in full_date:
    seoul = seoul[seoul["일시"] != date]
    busan = busan[busan["일시"] != date]
print(seoul)
time = []
for i in range(24):
    time.append(str(i).zfill(2) + ":00")

zeros = np.zeros((24, 2))
df = pd.DataFrame(zeros, index=time, columns=["seoul", 'busan'])

df

     지점명                일시  기온(°C)
0     서울  2020-01-01 00:00    -6.5
1     서울  2020-01-01 01:00    -5.9
2     서울  2020-01-01 02:00    -5.7
3     서울  2020-01-01 03:00    -5.6
4     서울  2020-01-01 04:00    -5.4
...   ..               ...     ...
8778  서울  2020-12-31 19:00    -7.1
8779  서울  2020-12-31 20:00    -7.1
8780  서울  2020-12-31 21:00    -7.2
8781  서울  2020-12-31 22:00    -7.4
8782  서울  2020-12-31 23:00    -7.6

[8778 rows x 3 columns]

       seoul  busan
00:00    0.0    0.0
01:00    0.0    0.0
02:00    0.0    0.0
03:00    0.0    0.0
04:00    0.0    0.0
05:00    0.0    0.0
06:00    0.0    0.0
07:00    0.0    0.0
08:00    0.0    0.0
09:00    0.0    0.0
10:00    0.0    0.0
11:00    0.0    0.0
12:00    0.0    0.0
13:00    0.0    0.0
14:00    0.0    0.0
15:00    0.0    0.0
16:00    0.0    0.0
17:00    0.0    0.0
18:00    0.0    0.0
19:00    0.0    0.0
20:00    0.0    0.0
21:00    0.0    0.0
22:00    0.0    0.0
23:00    0.0    0.0

In [279]:
max_index = []
for i in range(0, len(seoul), 24):
    max_index.append(seoul.iloc[i:i+24, 2].idxmax())

for i in max_index:
    df.loc[seoul.loc[i][1].split(' ')[1]]["seoul"] += 1

df

       seoul  busan
00:00   42.0    0.0
01:00   18.0    0.0
02:00   12.0    0.0
03:00   12.0    0.0
04:00    6.0    0.0
05:00    0.0    0.0
06:00   12.0    0.0
07:00    6.0    0.0
08:00    0.0    0.0
09:00    0.0    0.0
10:00    6.0    0.0
11:00   30.0    0.0
12:00   66.0    0.0
13:00  150.0    0.0
14:00  432.0    0.0
15:00  709.0    0.0
16:00  564.0    0.0
17:00   96.0    0.0
18:00   12.0    0.0
19:00    0.0    0.0
20:00    6.0    0.0
21:00    0.0    0.0
22:00    0.0    0.0
23:00   18.0    0.0